server:
  address: 0.0.0.0
  port: ${PORT}

spring:
  application:
    name: wsb.MunicipalOffice

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver

    hikari:
      maximum-pool-size: 5
      minimum-idle: 1
      idle-timeout: 30000
      connection-timeout: 30000
      max-lifetime: 600000

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

  spring:
    jackson:
      date-format: "yyyy-MM-dd'T'HH:mm:ss.SSSXXX"
      time-zone: "UTC"


  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT:587}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

app:
  mail:
    from: ${APP_MAIL_FROM}
    base-url: ${APP_BASE_URL}
  cors:
    allowed-origins:
      - http://localhost:3000

security:
  jwt:
    secret: ${JWT_SECRET}
    accessTokenMinutes: ${JWT_MINUTES:60}
